body {
  background-color: #58b1e7;
}

#time {
  color: #fff;
  font-size: 195px;
  background-color: #000;
  padding: 0.5em 0em;

  width: 880%;
  margin: 0px auto;
  font-family: Helvetica,Arial;
  text-align: center;
}